<div ng-controller="UmbracoForms.Overlays.WorkflowSettingsOverlayController as vm">
    <form name="workflowSettingsForm"
          novalidate
          val-form-manager>
        <umb-editor-view>
            <umb-editor-header name="model.title"
                               name-locked="true"
                               hide-alias="true"
                               hide-icon="true"
                               hide-description="true">
            </umb-editor-header>
            <umb-editor-container>
                <umb-box>
                  <umb-box-content class="form-horizontal">
                    <umb-control-group localize="label,description" label="@formWorkflows_workflowNameLabel" description="@formWorkflows_workflowNameDescription">
                      <input type="text" ng-model="model.workflow.name" focus-when="{{vm.focusWorkflowName}}" required class="-full-width-input" />
                    </umb-control-group>
                    <umb-control-group ng-if="!model.workflow.isMandatory" localize="label,description" label="@formWorkflows_activeLabel" description="@formWorkflows_activeDescription">
                      <umb-toggle checked="model.workflow.active"
                                  on-click="vm.toggleActive()">
                      </umb-toggle>
                    </umb-control-group>
                    <umb-control-group localize="label,description" label="@formWorkflows_includeSensitiveDataLabel" description="@formWorkflows_includeSensitiveDataDescription">
                      <umb-toggle checked="model.workflow.includeSensitiveData"
                                  on-click="vm.toggleIncludeSensitiveData()">
                      </umb-toggle>
                    </umb-control-group>
                    <umb-control-group ng-repeat="setting in model.workflow.settings"
                                       label="{{setting.name}}"
                                       description="{{setting.description}}">
                      <div ng-include="setting.view"></div>
                    </umb-control-group>

                    <div class="umb-control-group" ng-if="!model.workflow.isMandatory">
                      <h5><localize key="formConditions_title"></localize></h5>

                      <div class="umb-forms__conditions">

                        <div class="control-group umb-control-group">
                          <umb-toggle checked="model.workflow.condition.enabled"
                                      on-click="vm.toggleConditions()"
                                      show-labels="true"
                                      label-on="{{vm.enableConditionsToggleText}}"
                                      label-off="{{vm.enableConditionsToggleText}}"
                                      label-position="right">
                          </umb-toggle>
                        </div>

                        <div class="control-group umb-control-group"
                             ng-show="model.workflow.condition.enabled">

                          <div class="umb-forms__condition-select">
                            <div class="umb-forms__select">
                              <select ng-model="model.workflow.condition.actionType"
                                      ng-options="actionType.value as actionType.name for actionType in vm.actionTypes"></select>
                            </div>
                            <span><localize key="formConditions_thisWorkflowIf"></localize></span>
                            <div class="umb-forms__select">
                              <select ng-model="model.workflow.condition.logicType"
                                      ng-options="logicType.value as logicType.name for logicType in vm.logicTypes"></select>
                            </div>
                            <span><localize key="formConditions_ofTheFollowingMatch"></localize>:</span>
                          </div>

                          <div ng-repeat="rule in model.workflow.condition.rules" class="umb-forms-rule">
                            <div class="umb-forms-rule__cond">
                              <div class="umb-forms__select">
                                <select ng-model="rule.field"
                                        ng-options="field.id as field.caption for field in model.fields"
                                        ng-change="vm.conditionFieldSelected(rule.field, rule)"
                                        ng-init="vm.conditionFieldSelected(rule.field, rule)"
                                        required>
                                  <option value="" hidden><localize key="formConditions_selectField"></localize></option>
                                </select>
                              </div>

                              <div class="umb-forms__select">
                                <select ng-model="rule.operator"
                                        ng-options="operator.value as operator.name for operator in vm.operators"></select>
                              </div>

                              <div class="umb-forms__select" ng-if="rule.$preValues">
                                <select ng-model="rule.value"
                                        ng-options="preValue.value as (preValue.caption || preValue.value) for preValue in rule.$preValues"
                                        ng-change="vm.rulePrevalueSelected(rule.value)"></select>
                              </div>

                              <div class="umb-forms__conditions-rule" ng-if="!rule.$preValues">
                                <input type="text" ng-model="rule.value" />
                              </div>

                              <a href="" ng-click="vm.deleteConditionRule(model.workflow.condition.rules,rule)">
                                <i class="icon-trash" aria-hidden="true"></i>
                              </a>
                            </div>

                          </div>

                          <br />
                          <button class="umb-forms-button" ng-click="vm.addConditionRule(model.workflow.condition)">
                            <localize key="formConditions_addCondition"></localize>
                          </button>

                        </div>
                      </div>
                    </div>

                    <div class="umb-forms-settings-note">
                      <localize key="formEdit_magicStringsForWorkflowsNote"></localize>
                    </div>
                  </umb-box-content>
                </umb-box>
            </umb-editor-container>
            <umb-editor-footer>
                <umb-editor-footer-content-right>
                    <umb-button type="button"
                                button-style="link"
                                label-key="general_close"
                                shortcut="esc"
                                action="vm.close()">
                    </umb-button>
                    <umb-button type="button"
                                button-style="success"
                                label-key="general_submit"
                                action="vm.submit()">
                    </umb-button>
                </umb-editor-footer-content-right>
            </umb-editor-footer>
        </umb-editor-view>
    </form>
</div>
