@inherits UmbracoViewPage

@{
    var websiteSettings = Umbraco.GetAuxiliaryContent<IAuxiliaryFoldersComposition, WebsiteSettings>(s => s.WebsiteSettings);
}

@if (!websiteSettings.HideBanner)
{
    <div class="notification-banner" id="notification-banner" data-notification-banner-keep-hidden-for-n-days="1">
        <div class="notification-banner__wrapper grid-x grid-margin-x">

            <div class="notification-banner__text cell small-12 medium-auto large-auto vertical-center">
                @websiteSettings.BannerText
            </div>

            <div class="notification-banner__cta cell small-10 medium-3 large-2 vertical-center">
                @websiteSettings.BannerCta.GetLink(cssClass: "cta secondary-outline")
            </div>

            <div class="close__wrapper-desktop vertical-center">
                <button class="notification-banner__close">Close modal</button>
            </div>
        </div>
    </div>
}