<?xml version="1.0" encoding="utf-8"?>
<umbracoforms>
  <!--
  NOTE: All Settings are cached and using SaveSetting in Configuration will clear cache
  If changing a setting in this file & you are not seeing the desired result straight away
  You will need to wait for the cache period (6hours) to expire or restart your site
  -->
  <settings>
    <!-- This can be 2 different things either True/False or a list of form names that ignore workflows, -->
    <!-- Comma Seperated: form name,contact form,etc -->
    <setting key="IgnoreWorkFlowsOnEdit" value="True" />

    <!-- This can be 2 different things either True/False or a list of form names that will execute workflows async,  -->
    <!-- commaseperated: form name,contact form,etc -->
    <!-- this setting is experimental and does not work with workflows that depends on the umbraco node factory or umbraco context-->
    <setting key="ExecuteWorkflowAsync" value="False" />

    <setting key="DisableFormCaching" value="False" />
    <setting key="DisableDefaultWorkflow" value="False" />
    <setting key="DisableAutomaticAdditionOfDataConsentField" value="False" />
    <setting key="DisableFileUploadAccessProtection" value="False" />
    <setting key="DisableRecordIndexing" value="False" />

    <!-- To opt-in to manage Forms permissions at the user group level, set this value to True.
         It will:
           - Provide additional tree and editor options to manage permissions at the user group level.
           - Remove the automatic addition of user security records for users.
           - Allow for the removal of existing user security records via a tree menu.
           - Allow for the manual creation of user security records if necessary for fine control over and above the user group permissions.
           - Use an updated permission check which will:
             - Check if a user has a user specific security record setup, and if so use that.
             - Otherwise give permission for a resource if at least one user groups they are part of has access granted.
         If using the pre 8.11/9/3 behaviour of managing security on a per-user basis this setting should be omitted or set to the
         default value of False. -->
    <setting key="ManageSecurityWithUserGroups" value="False" />
    <!-- If ManageSecurityWithUserGroups is True, When new forms are created, the user groups corresponding to the comma
         separated aliases listed will be granted access. -->
    <setting key="GrantAccessToNewFormsForUserGroups" value="admin,editor" />
    <!-- Default behaviour is for all users to be granted access to newly created forms. To amend that to deny access,
         include this setting with a value of "Deny".  A value of "Grant" preserves the default behaviour.
         Admin users will always be granted access.-->
    <setting key="DefaultUserAccessToNewForms" value="Grant" />

    <!-- A comma delimited list file extensions that will always be prevented from use in file uploads irrespective of editor selections.-->
    <setting key="DisallowedFileUploadExtensions" value="config,exe,dll,asp,aspx,js" />

    <!-- Setting to true allows Form Submissions to be edited using ?recordId=GUID -->
    <!-- BEWARE! Enable this feature ONLY if you do understand the security implications. -->
    <setting key="AllowEditableFormSubmissions" value="False" />

    <!-- Setting to true will persist all forms, workflows, prevalues...etc in database-->
    <!-- BEWARE! Once setting this to true, reverting it is NOT an option -->
    <!-- Make sure to recycle the app pool for your site after changing this setting -->
    <setting key="StoreUmbracoFormsInDb" value="False" />

    <!-- Overrides the default numnber of columns allowed in a form group (default if not provided is 12) -->
    <setting key="MaxNumberOfColumnsInFormGroup" value="12" />

    <!--Default Form Settings -->
    <setting key="DefaultManualApproval" value="False" />
    <setting key="DefaultDisableStylesheet" value="False" />
    <setting key="DefaultMarkFieldsIndicator" value="NoIndicator" />
    <setting key="DefaultIndicator" value="*" />
    <setting key="DefaultRequiredErrorMessage" value="Please provide a value for {0}" />
    <setting key="DefaultInvalidErrorMessage" value="Please provide a valid value for {0}" />
    <setting key="DefaultShowValidationSummary" value="False" />
    <setting key="DefaultHideFieldValidationLabels" value="False" />
    <setting key="DefaultMessageOnSubmit" value="Thank you" />
    <setting key="DefaultStoreRecordsLocally" value="true" />

    <!-- Theme settings -->
    <setting key="DefaultTheme" value="default" />

    <!-- Sets a relative path, within Views/Partials, to the default email template used in Razor email workflows.
         If empty or missing, the default of Forms/Emails/Example-Template.cshtml is used. -->
    <setting key="DefaultEmailTemplate" value="" />

    <!-- Recaptcha V2 -->
    <setting key="RecaptchaPublicKey" value="" />
    <setting key="RecaptchaPrivateKey" value="" />

    <!-- Recaptcha V3 -->
    <setting key="RecaptchaV3SiteKey" value="" />
    <setting key="RecaptchaV3PrivateKey" value="" />

    <!-- Title and description -->
    <setting key="TitleAndDescriptionAllowUnsafeHtmlRendering" value="True" />

    <!--DatePicker (Pikaday JS component)-->
    <setting key="DatePickerYearRange" value="10" />

    <!-- This should be kept as the default value of True, but in certain circumstances, including hosting pages with forms in IFRAMEs
         from other websites, this may need to be set to False.
         See documentation here: https://our.umbraco.com/Documentation/Add-ons/UmbracoForms/Developer/Configuration/index-v7#enableantiforgerytoken -->
    <setting key="EnableAntiForgeryToken" value="True" />

    <!-- When redirecting following a form submission, a TempData value is set that is used to ensure the submitted partial is
         displayed rather than the form itself. In certain situations, such as hosting pages with forms in IFRAMEs
         from other websites, this value is not persisted between requests.  By settting the following value to True, a querystring
         value of formSubmitted=[Guid], will be used to indicate the id of the form submitted on the previous request. -->
    <setting key="AppendQueryStringOnRedirectAfterFormSubmission" value="False" />

    <!-- For setups that have a single front-end website culture but potentially different back-office cultures for editors,
         this setting can be used to force parsing of persisted date values with the culture used to store them, for display
         in the back-office. -->
    <setting key="CultureToUseWhenParsingDatesForBackOffice" value="" />

    <!-- Allows control over the client-side event used to trigger conditional checks.
         Valid values are "change" (the default) or "input". -->
    <setting key="TriggerConditionsCheckOn" value="change" />
  </settings>
</umbracoforms>
