<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="91226ca8-aef1-4cd9-b498-1076060a5ed5" Alias="addressBook" Level="3">
  <Info>
    <Name>Address Book</Name>
    <Icon>icon-addressbook color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Modules/Body</Folder>
    <Compositions />
    <DefaultTemplate>AddressBook</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="72460561-8bed-452e-a3f9-639d69a97683">AddressBook</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>525585e1-5bfa-40e0-a343-6b12c024de80</Key>
      <Name>Addresses</Name>
      <Alias>addresses</Alias>
      <Definition>2f0e3a27-1176-4e47-a4ec-c8acf425e7f1</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>069f4b5c-90be-4212-889a-28c9b5189dee</Key>
      <Name>Heading</Name>
      <Alias>heading</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
      <Alias>content</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</ContentType>