<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="781f2b77-88fe-4c3a-b05f-b5985f230c26" Alias="allowDeleteComposition" Level="2">
  <Info>
    <Name>Allow Delete Composition</Name>
    <Icon>icon-delete color-amber</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>23e4f97f-9537-422d-9390-0616e6056d44</Key>
      <Name>Allow Delete</Name>
      <Alias>allowDelete</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is a system node. Deleting it may cause the website to stop working.
Allow this content node to be deleted?]]></Description>
      <SortOrder>100</SortOrder>
      <Tab Alias="delete">Delete</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Delete</Caption>
      <SortOrder>950</SortOrder>
      <Alias>delete</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</ContentType>