<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8495d5dc-7e91-49b0-99a8-3efdeceb8008" Alias="auxiliaryFoldersComposition" Level="2">
  <Info>
    <Name>Auxiliary Folders Composition</Name>
    <Icon>icon-folder-open color-amber</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c458de28-32ab-49b8-a571-8931451b6620</Key>
      <Name>Website Components</Name>
      <Alias>websiteComponents</Alias>
      <Definition>54033c38-f1e5-4f63-8c87-e6012b7f8aba</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Where to find this website's components folder.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="auxiliaryFolders">Auxiliary Folders</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b134328b-9a1b-4cf1-8739-b61f9145dcb4</Key>
      <Name>Website Settings</Name>
      <Alias>websiteSettings</Alias>
      <Definition>5fc44c5e-48e9-4065-a57c-494101d8f54f</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Where to find this website's settings folder.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="auxiliaryFolders">Auxiliary Folders</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Auxiliary Folders</Caption>
      <SortOrder>1000</SortOrder>
      <Alias>auxiliaryFolders</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</ContentType>