<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9ddb6539-fdcc-4643-b775-2c3c6aae64f6" Alias="errorPage" Level="2">
  <Info>
    <Name>Error Page</Name>
    <Icon>icon-block color-red</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="781f2b77-88fe-4c3a-b05f-b5985f230c26">allowDeleteComposition</Composition>
      <Composition Key="02875cd3-d421-491d-9547-712c54e62c3b">contentComposition</Composition>
      <Composition Key="bbbae576-194d-455d-bacc-9a6cd3ec2401">markupComposition</Composition>
      <Composition Key="c4079cf6-edfe-4b09-a381-7b62623a12da">sEOComposition</Composition>
      <Composition Key="198f9cea-a138-4b36-816a-95f8c121944c">visibilityComposition</Composition>
    </Compositions>
    <DefaultTemplate>ErrorPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="38701499-e268-4be5-992e-b5849128c06f">ErrorPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b1d38f6b-55d2-4b7e-ac17-b3b6856c3603</Key>
      <Name>Status Code</Name>
      <Alias>statusCode</Alias>
      <Definition>15b341ac-301a-4b1a-8c50-f2e1543289e7</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[404: Page Not Found - when trying to view a non-existing URL .
500: Internal Server Error - when a website error has occurred.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="sEO">SEO</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>SEO</Caption>
      <SortOrder>700</SortOrder>
      <Alias>sEO</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</ContentType>