<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b91def65-181c-4f35-a4bd-b0da32bd94d5" Alias="experiencesPage" Level="2">
  <Info>
    <Name>Experiences Page</Name>
    <Icon>icon-exit-fullscreen color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The Experience Index page is used to display all active experiences of a resort, and at group level displays a filterable list of all experiences across all resorts. The filter can be by resort and by experience type.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="02875cd3-d421-491d-9547-712c54e62c3b">contentComposition</Composition>
      <Composition Key="c4079cf6-edfe-4b09-a381-7b62623a12da">sEOComposition</Composition>
      <Composition Key="198f9cea-a138-4b36-816a-95f8c121944c">visibilityComposition</Composition>
    </Compositions>
    <DefaultTemplate>ExperiencesPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="cf3c9120-312f-4453-bf24-ce857a276dcf">ExperiencesPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="c1cb1891-68cf-47f8-9668-7558fd33ed62" SortOrder="0">experienceDetailsPage</ContentType>
    <ContentType Key="b585ec80-e1b1-49bd-8505-1cf138399bd3" SortOrder="1">contentPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>3dde7a20-b686-4030-a8fc-2c589e985901</Key>
      <Name>Featured Image</Name>
      <Alias>featuredImage</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1be7f8c9-4fdd-4160-9a51-2f492eb2289d</Key>
      <Name>Heading</Name>
      <Alias>heading</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>General</Caption>
      <SortOrder>1</SortOrder>
      <Alias>general</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</ContentType>