<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1b9708f5-1be7-4c4e-873c-0cc29488fca3" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>This template is used for the homepage of all sites.</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="781f2b77-88fe-4c3a-b05f-b5985f230c26">allowDeleteComposition</Composition>
      <Composition Key="8495d5dc-7e91-49b0-99a8-3efdeceb8008">auxiliaryFoldersComposition</Composition>
      <Composition Key="858d055e-db58-4954-83e8-8b7a9beb9ae3">bodyClassComposition</Composition>
      <Composition Key="02875cd3-d421-491d-9547-712c54e62c3b">contentComposition</Composition>
      <Composition Key="c4079cf6-edfe-4b09-a381-7b62623a12da">sEOComposition</Composition>
      <Composition Key="198f9cea-a138-4b36-816a-95f8c121944c">visibilityComposition</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="4dcfb1b5-a195-440d-b83b-43d5ab794323">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="80ac2557-64c8-4029-93a3-8cab9b1e0306" SortOrder="0">blogPage</ContentType>
    <ContentType Key="b585ec80-e1b1-49bd-8505-1cf138399bd3" SortOrder="1">contentPage</ContentType>
    <ContentType Key="9ddb6539-fdcc-4643-b775-2c3c6aae64f6" SortOrder="2">errorPage</ContentType>
    <ContentType Key="b91def65-181c-4f35-a4bd-b0da32bd94d5" SortOrder="3">experiencesPage</ContentType>
    <ContentType Key="22e7d494-f045-4d52-9ead-ad469649c0e6" SortOrder="4">offersPage</ContentType>
    <ContentType Key="bffd68e6-42a4-4312-bcdb-5bb8ad326cf1" SortOrder="5">resortsHomePage</ContentType>
    <ContentType Key="f9ad035a-291c-4c36-a531-7fb6c48974b6" SortOrder="6">websiteSettings</ContentType>
    <ContentType Key="146ca24c-a8b4-40bb-b3fb-9e0d4302cfb1" SortOrder="7">websiteComponents</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>