<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b8ff08a8-be16-46d9-be37-163224d4f395" Alias="priorityLevelComposition" Level="2">
  <Info>
    <Name>Priority Level Composition</Name>
    <Icon>icon-navigation-vertical color-amber</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>6206a6dd-5273-4b31-84ca-48a24611b529</Key>
      <Name>Priority Level</Name>
      <Alias>priorityLevel</Alias>
      <Definition>acc36d2f-21f4-4989-bbb1-9e767855397d</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Number used to order where this page will be displayed on listing pages and filters.
(5 is the highest priority with 1 the lowest)]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="level">Level</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Level</Caption>
      <SortOrder>3</SortOrder>
      <Alias>level</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</ContentType>