<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="bffd68e6-42a4-4312-bcdb-5bb8ad326cf1" Alias="resortsHomePage" Level="2">
  <Info>
    <Name>Resorts Home Page</Name>
    <Icon>icon-thumbnails-small color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="02875cd3-d421-491d-9547-712c54e62c3b">contentComposition</Composition>
      <Composition Key="1150d949-bc9d-4513-aef3-381e5af05d93">footerComposition</Composition>
      <Composition Key="c4079cf6-edfe-4b09-a381-7b62623a12da">sEOComposition</Composition>
      <Composition Key="198f9cea-a138-4b36-816a-95f8c121944c">visibilityComposition</Composition>
    </Compositions>
    <DefaultTemplate>ResortsHomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b34186eb-8d1d-4e32-a880-1cc27b1c6bad">ResortsHomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="f2d8df86-e2c6-455b-a721-b559b4c1866d" SortOrder="0">accommodationsPage</ContentType>
    <ContentType Key="8c1f99a5-47ce-4149-941a-4f6fa3d40df3" SortOrder="1">calendarPage</ContentType>
    <ContentType Key="b585ec80-e1b1-49bd-8505-1cf138399bd3" SortOrder="2">contentPage</ContentType>
    <ContentType Key="9fb281ee-e66f-44d6-8791-160300998aa9" SortOrder="3">destinationPage</ContentType>
    <ContentType Key="b91def65-181c-4f35-a4bd-b0da32bd94d5" SortOrder="4">experiencesPage</ContentType>
    <ContentType Key="2de1599b-5aef-4111-9d46-b46f4acfc2bb" SortOrder="5">facilities</ContentType>
    <ContentType Key="22e7d494-f045-4d52-9ead-ad469649c0e6" SortOrder="6">offersPage</ContentType>
    <ContentType Key="9a8ff967-a180-4504-ab46-d9a95777e333" SortOrder="7">restaurantsBars</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>19bc3aae-3443-47e5-b32f-a5e57c68b832</Key>
      <Name>Booking URL</Name>
      <Alias>bookingURL</Alias>
      <Definition>bf84a978-8428-4945-86db-fd71e7dd1fa1</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b70bbdec-7f8a-4271-a83b-81b37d817593</Key>
      <Name>Featured Image</Name>
      <Alias>featuredImage</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>66a9506c-bc43-49bb-ad9d-bafacc0254b6</Key>
      <Name>Footer Navigation</Name>
      <Alias>footerNavigation</Alias>
      <Definition>2fb0df72-34dc-43af-9a33-6c26a51ed065</Definition>
      <Type>Umbraco.NestedContentElements</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="navigations">Navigations</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d0e23910-99f5-443b-92a0-3bdc18a246c2</Key>
      <Name>Header Buttons</Name>
      <Alias>headerButtons</Alias>
      <Definition>0cec3d21-3a1d-463f-a1bb-8b9438d7f25d</Definition>
      <Type>Umbraco.NestedContentElements</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="navigations">Navigations</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>cb15d5e1-b4a3-4425-8386-ccd51acbf8f3</Key>
      <Name>Main Navigation</Name>
      <Alias>mainNavigation</Alias>
      <Definition>1e0ca055-37b5-4fd7-8683-d85508c548c3</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="navigations">Navigations</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>089a89da-d2fd-4ff2-af8d-b6a801f3efc5</Key>
      <Name>Resort Booking Hotel ID</Name>
      <Alias>resortBookingHotelID</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>feb3c5c5-a0f8-4728-8fb0-78643805bf0c</Key>
      <Name>Resort Category</Name>
      <Alias>resortCategory</Alias>
      <Definition>310d919e-054c-4650-9d11-cbc70b66faf9</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6bab3f85-e3db-4b6b-a9e8-d562dcd4a185</Key>
      <Name>Resort Logo</Name>
      <Alias>resortLogo</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a76bdc8c-dfe8-4fdd-94ae-1beafa01be64</Key>
      <Name>Resorts Navigation</Name>
      <Alias>resortsNavigation</Alias>
      <Definition>d93e9099-880c-493c-b619-ac9b80929a59</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="navigations">Navigations</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>90aac736-6667-4cb0-862f-c2dd8ea64824</Key>
      <Name>Resort Tagline</Name>
      <Alias>resortTagline</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>39a0fd2b-653a-48e9-972c-63d999c24445</Key>
      <Name>Sidebar Buttons</Name>
      <Alias>sidebarButtons</Alias>
      <Definition>0cec3d21-3a1d-463f-a1bb-8b9438d7f25d</Definition>
      <Type>Umbraco.NestedContentElements</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="navigations">Navigations</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>247ecfb0-fffb-4de0-a966-5de330b8c867</Key>
      <Name>Sidebar Footer Navigation</Name>
      <Alias>sidebarFooterNavigation</Alias>
      <Definition>1e0ca055-37b5-4fd7-8683-d85508c548c3</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="navigations">Navigations</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>General</Caption>
      <SortOrder>1</SortOrder>
      <Alias>general</Alias>
      <Type>Group</Type>
    </Tab>
    <Tab>
      <Caption>Navigations</Caption>
      <SortOrder>2</SortOrder>
      <Alias>navigations</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</ContentType>