<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="12896363-7c18-45d5-956e-8cae35a42db0" Alias="restaurantsBarsDetailPage" Level="2">
  <Info>
    <Name>Restaurants &amp; Bars Detail Page</Name>
    <Icon>icon-presentation color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="c4079cf6-edfe-4b09-a381-7b62623a12da">sEOComposition</Composition>
      <Composition Key="198f9cea-a138-4b36-816a-95f8c121944c">visibilityComposition</Composition>
    </Compositions>
    <DefaultTemplate>RestaurantsBarsDetailPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a441ecb5-da88-46fb-873e-6dcef5778cb9">RestaurantsBarsDetailPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>8f71f294-790c-47e6-bf50-2dcfffa2002b</Key>
      <Name>Featured Image</Name>
      <Alias>featuredImage</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9b6f9310-9e00-4736-9cd2-542dcdb22e5e</Key>
      <Name>Gallery Images</Name>
      <Alias>galleryImages</Alias>
      <Definition>9dbbcbbb-2327-434a-b355-af1b84e5010a</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bff7a100-6bbe-4e1f-8f84-93721ed821ed</Key>
      <Name>Long Description</Name>
      <Alias>longDescription</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b905de6a-ca5d-498d-9d31-abdf312f3337</Key>
      <Name>Restaurants &amp; Bars Category</Name>
      <Alias>restaurantsBarsCategory</Alias>
      <Definition>8487ba4c-dc44-41da-a707-4f87b16d1814</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d3dcea38-b1ed-4345-83ce-77d5d8fd278c</Key>
      <Name>Restaurants &amp; Bars Headline Text</Name>
      <Alias>restaurantsBarsHeadlineText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8a1055dc-fb52-45b4-aa55-cda3c7d612a1</Key>
      <Name>Restaurants &amp; Bars Info</Name>
      <Alias>restaurantsBarsInfo</Alias>
      <Definition>c92a480f-a3eb-4bb3-a0d0-9b2d9bdc593b</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>533d99e2-c5fd-4a1b-abaa-0595e6c6c04c</Key>
      <Name>Short Description</Name>
      <Alias>shortDescription</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>General</Caption>
      <SortOrder>0</SortOrder>
      <Alias>general</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</ContentType>