<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="198f9cea-a138-4b36-816a-95f8c121944c" Alias="visibilityComposition" Level="2">
  <Info>
    <Name>Visibility Composition</Name>
    <Icon>icon-eye color-amber</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>6296b7c4-e931-44e0-98cf-bf09a30b08a3</Key>
      <Name>Hide From All Navs</Name>
      <Alias>hideFromAllNavs</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This page won't show in any navigation bar or menu, if enabled.]]></Description>
      <SortOrder>200</SortOrder>
      <Tab Alias="visibility">Visibility</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>be366570-6165-4031-87bc-5287053411bb</Key>
      <Name>Hide in XML Sitemap</Name>
      <Alias>hideInXMLSitemap</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This page won't show at the sitemap, thus will not be visible or indexed by search engines, if enabled.]]></Description>
      <SortOrder>100</SortOrder>
      <Tab Alias="visibility">Visibility</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Visibility</Caption>
      <SortOrder>800</SortOrder>
      <Alias>visibility</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</ContentType>