<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f9ad035a-291c-4c36-a531-7fb6c48974b6" Alias="websiteSettings" Level="2">
  <Info>
    <Name>Website Settings</Name>
    <Icon>icon-settings color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components</Folder>
    <Compositions>
      <Composition Key="781f2b77-88fe-4c3a-b05f-b5985f230c26">allowDeleteComposition</Composition>
      <Composition Key="1150d949-bc9d-4513-aef3-381e5af05d93">footerComposition</Composition>
      <Composition Key="bbbae576-194d-455d-bacc-9a6cd3ec2401">markupComposition</Composition>
      <Composition Key="198f9cea-a138-4b36-816a-95f8c121944c">visibilityComposition</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>0dedb586-f739-416e-b3d0-b6596bdd735c</Key>
      <Name>Badge</Name>
      <Alias>badge</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f23e4ded-4d3e-4f7a-ba4e-1da906644930</Key>
      <Name>Banner CTA</Name>
      <Alias>bannerCTA</Alias>
      <Definition>bf84a978-8428-4945-86db-fd71e7dd1fa1</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is the CTA link.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="notificationBanner">Notification Banner</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>74f58831-18a8-41ef-97f2-28bd80be9f43</Key>
      <Name>Banner Text</Name>
      <Alias>bannerText</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is the main text of the banner.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="notificationBanner">Notification Banner</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c48e8239-73b1-4577-9e39-1db75933b1e6</Key>
      <Name>Cookie Panel Text</Name>
      <Alias>cookiePanelText</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Text to be added in the cookie panel.]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9eb3540f-6147-4069-ad3e-0b7793b974b9</Key>
      <Name>Copyright Message</Name>
      <Alias>copyrightMessage</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Usually displays at the footer.]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2d67d1de-f762-42d0-ac2c-d4900913f2ce</Key>
      <Name>Email From</Name>
      <Alias>emailFrom</Alias>
      <Definition>c445766e-5db5-44a3-94ad-39a4f834dda2</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="email">Email</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1f6c3424-9141-4a6d-89b9-5acbb41e6ad9</Key>
      <Name>Footer Navigation</Name>
      <Alias>footerNavigation</Alias>
      <Definition>2fb0df72-34dc-43af-9a33-6c26a51ed065</Definition>
      <Type>Umbraco.NestedContentElements</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="navigations">Navigations</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7f478dfc-de98-48b3-ae2b-634d20f292fd</Key>
      <Name>Group Navigation</Name>
      <Alias>groupNavigation</Alias>
      <Definition>1e0ca055-37b5-4fd7-8683-d85508c548c3</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="navigations">Navigations</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>42ecec95-66a6-4f98-bfec-d3cee6527bea</Key>
      <Name>Header Buttons</Name>
      <Alias>headerButtons</Alias>
      <Definition>0cec3d21-3a1d-463f-a1bb-8b9438d7f25d</Definition>
      <Type>Umbraco.NestedContentElements</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This buttons will display on header.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="navigations">Navigations</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5d6a01e5-4e70-4e57-a289-1bce4c1126d4</Key>
      <Name>Hide Banner</Name>
      <Alias>hideBanner</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If selected, it will hide the notification banner.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="notificationBanner">Notification Banner</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a7566b75-ee95-4d52-92bd-3d6eb632b302</Key>
      <Name>Image Compression</Name>
      <Alias>imageCompression</Alias>
      <Definition>556b1290-d9ff-4e79-b0b9-cf1198ccaf3f</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Sets the image compression used for all images on the website. Compression can be set to help images load quicker.
From 0 to 100.
Default value is 0.
Recommended value is 30.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="media">Media</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f83018c3-8cab-480c-a882-8bc842c4f30d</Key>
      <Name>Main Navigation</Name>
      <Alias>mainNavigation</Alias>
      <Definition>1e0ca055-37b5-4fd7-8683-d85508c548c3</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="navigations">Navigations</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4340a34b-d404-4c38-8500-7336000507b6</Key>
      <Name>Open Graph image</Name>
      <Alias>openGraphImage</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is the default Open Graph image associated with your media. We suggest that you use an image of at least 1200x1200 pixels.]]></Description>
      <SortOrder>7</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4c1394c1-b3cd-48a0-9ffc-6939244ff706</Key>
      <Name>Select Resorts</Name>
      <Alias>selectResorts</Alias>
      <Definition>f2d97d2c-c21a-4f07-be98-7afca95fb4ab</Definition>
      <Type>Umbraco.NestedContentElements</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This resorts will display on main menu.]]></Description>
      <SortOrder>8</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>12d937e9-fa7d-44d4-880e-74e0675d5b0f</Key>
      <Name>Show Cookie Panel</Name>
      <Alias>showCookiePanel</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[If selected, it will show the Cookie Panel.]]></Description>
      <SortOrder>9</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9c5f6d41-f82b-422d-a40b-25d643f8e0c9</Key>
      <Name>Sidebar Buttons</Name>
      <Alias>sidebarButtons</Alias>
      <Definition>0cec3d21-3a1d-463f-a1bb-8b9438d7f25d</Definition>
      <Type>Umbraco.NestedContentElements</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This buttons will display on sidebar.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="navigations">Navigations</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c3bc437e-62c8-46e3-8634-d0988632992d</Key>
      <Name>Sidebar Footer Navigation</Name>
      <Alias>sidebarFooterNavigation</Alias>
      <Definition>1e0ca055-37b5-4fd7-8683-d85508c548c3</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="navigations">Navigations</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6dfd453f-0007-4bbc-a5a2-095bc93f5cc8</Key>
      <Name>Social Link</Name>
      <Alias>socialLink</Alias>
      <Definition>b5ad7646-a3c3-4a23-8dc9-1d66c5315529</Definition>
      <Type>Umbraco.NestedContentElements</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="social">Social</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>60976490-11d5-4b7c-86a6-be93809cde9d</Key>
      <Name>Sticky Header Logo</Name>
      <Alias>stickyHeaderLogo</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>aa19bfb9-f369-409d-b250-7b3cec86bc7e</Key>
      <Name>Website Favicon</Name>
      <Alias>websiteFavicon</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fbcf9125-7b98-4ec1-9380-44411fb58c40</Key>
      <Name>Website Logo Large</Name>
      <Alias>websiteLogoLarge</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b172d9e2-e1c0-4718-b26d-cd6fd7f67bf8</Key>
      <Name>Website Logo Small</Name>
      <Alias>websiteLogoSmall</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>de710e2c-c61e-4751-b690-ced1b47d8e6e</Key>
      <Name>Website Name</Name>
      <Alias>websiteName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is used in the page title if no page title is set at the page.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="general">General</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>General</Caption>
      <SortOrder>-1</SortOrder>
      <Alias>general</Alias>
      <Type>Group</Type>
    </Tab>
    <Tab>
      <Caption>Navigations</Caption>
      <SortOrder>-1</SortOrder>
      <Alias>navigations</Alias>
      <Type>Group</Type>
    </Tab>
    <Tab>
      <Caption>Notification Banner</Caption>
      <SortOrder>4</SortOrder>
      <Alias>notificationBanner</Alias>
      <Type>Group</Type>
    </Tab>
    <Tab>
      <Caption>Media</Caption>
      <SortOrder>402</SortOrder>
      <Alias>media</Alias>
      <Type>Group</Type>
    </Tab>
    <Tab>
      <Caption>Email</Caption>
      <SortOrder>403</SortOrder>
      <Alias>email</Alias>
      <Type>Group</Type>
    </Tab>
    <Tab>
      <Caption>Social</Caption>
      <SortOrder>404</SortOrder>
      <Alias>social</Alias>
      <Type>Group</Type>
    </Tab>
  </Tabs>
</ContentType>