@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.AddressBook>
@using ContentModels = SunSiyam.Core.Models;


<div class="contact-location__section">
    <div class="contact-location__wrap">
        <div class="container">
            <div class="contact-location__head">
                <div class="row">
                    <div class="col-12 col-lg-7 col-xl-6">
                        <h2 class="block__title">@Model.Heading</h2>
                    </div>
                </div>
            </div>
            <div class="contact-location__content">
                <div class="contact-location__items">
                    @if (Model.Addresses != null && Model.Addresses.Count() > 0)
                    {
                        foreach (var address in Model.Addresses)
                        {
                            <div class="contact-location__item">
                                <h5 class="contact-location__item-title">@address.Heading</h5>
                                <div class="contact-location__item-info">
                                    @address.Address
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="divider divider-gray"></div>
</div>