@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ContentEditor>
@using ContentModels = SunSiyam.Core.Models;

<div class="intro__section">
    <div class="block__padding">
        <div class="container">
            <div class="intro__description font-25">
                @Model.Content
            </div>
        </div>
    </div>
    <div class="divider divider-gray"></div>
</div>