@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.EmbedForm>
@using ContentModels = SunSiyam.Core.Models;


<div class="contact-form__section">
    <div class="contact-form__wrap">
        <div class="container">
            <div class="contact-form__head">
                <div class="row">
                    <div class="col-12 col-lg-7 col-xl-6">
                        @if (!string.IsNullOrEmpty(Model.HeadingTag))
                        {
                            var titleClass = "";
                            if (Model.HeadingTag.ToLower() == "h1")
                            {
                                titleClass = " h2";
                            }
                            @Html.Wrap(Model.HeadingTag, Model.Heading.Trim(), new { @class = "block__title" + titleClass })
                        }
                        else
                        {
                            <h2 class="block__title">@Html.Raw(Model.Heading.Trim())</h2>
                        }
                        <div class="block__description text-navy-blue font-20 pe-xxl-5 me-xxl-4">
                            @Model.Description
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-form__content">
                @if (Model.SelectForm != null)
                {
                    @Html.Action("RenderForm", "UmbracoForms", new { formId = Model.SelectForm, theme = "SunSiyam", includeScripts = false })
                }
            </div>
        </div>
    </div>
    <div class="divider divider-gray"></div>
</div>