@inherits Umbraco.Web.Mvc.UmbracoViewPage<IPublishedElement>

@{
    // pull your fields
    var heading    = Model.Value<string>("heading");
    var description= Model.Value<IHtmlString>("description");
    var image      = Model.Value<IPublishedContent>("image");
}

<div class="container">
    <div class="wedding-options-block">
      <div class="row">
        <div class="col-md-6 position-relative">
            <div class="text-center badgeContainer">
                <div class="divider__logo rounded-circle weddingBadge">
                    <img src="/media/5utldmak/sun-siyam-maldives.png" alt="Shell">
                </div>
            </div>
            @if (image != null)
            {
                <img src="@image.GetCroppedImageUrl("1033x1234")" alt="@image.Name" class="img-fluid" />
            }
        </div>
        <div class="col-md-6">
          @if (!string.IsNullOrWhiteSpace(heading))
          {
            <h3>@heading</h3>
          }
          @if (description != null)
          {
            <div class="description">
              @Html.Raw(description)
            </div>
          }
        </div>
      </div>
    </div>
</div>
<div class="divider divider-gray"></div>