<?xml version="1.0" encoding="utf-8"?>
<Macro Key="8cedcfab-d3cc-4578-a87b-7b7159f00de9" Alias="RedirectToPage" Level="0">
  <Name>RedirectToPage</Name>
  <MacroSource>~/Views/MacroPartials/RedirectToPage.cshtml</MacroSource>
  <MacroType>PartialView</MacroType>
  <UseInEditor>false</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties />
</Macro>