<?xml version="1.0" encoding="utf-8"?>
<Macro Key="fbf24b0e-c8ec-4319-8c8b-f97ba823b3d9" Alias="TestError" Level="0">
  <Name>TestError</Name>
  <MacroSource>~/Views/MacroPartials/TestError.cshtml</MacroSource>
  <MacroType>PartialView</MacroType>
  <UseInEditor>false</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties />
</Macro>