<?xml version="1.0" encoding="utf-8"?>
<DataType Key="77cf616b-202c-4f48-a509-29ba77820052" Alias="Accommodations Categories" Level="3">
  <Info>
    <Name>Accommodations Categories</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Elements/Select+Box</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Beach Villas"
    },
    {
      "id": 2,
      "value": "Water Villas"
    },
    {
      "id": 3,
      "value": "Retreats"
    },
    {
      "id": 4,
      "value": "Residences"
    },
    {
      "id": 5,
      "value": "Privileged views"
    },
    {
      "id": 6,
      "value": "Romance Villas"
    }
  ]
}]]></Config>
</DataType>