<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a80ec971-ba72-4245-80a4-12e0efa420c6" Alias="Blogs Category" Level="3">
  <Info>
    <Name>Blogs Category</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Elements/Select+Box</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 3,
      "value": "Press"
    },
    {
      "id": 4,
      "value": "Events"
    },
    {
      "id": 5,
      "value": "News"
    }
  ]
}]]></Config>
</DataType>