<?xml version="1.0" encoding="utf-8"?>
<DataType Key="108d2299-5bf2-4560-968a-0824a8c71dce" Alias="Body Elements" Level="2">
  <Info>
    <Name>Body Elements</Name>
    <EditorAlias>Umbraco.NestedContentElements</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Elements</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "aboutWidget",
      "ncTabAlias": "Content",
      "nameTemplate": "About Widget"
    },
    {
      "ncAlias": "accommodationsHighlights",
      "ncTabAlias": "Content",
      "nameTemplate": "Accommodations Highlights"
    },
    {
      "ncAlias": "addressBook",
      "ncTabAlias": "Content",
      "nameTemplate": "Address Block"
    },
    {
      "ncAlias": "awards",
      "ncTabAlias": "Content",
      "nameTemplate": "Awards"
    },
    {
      "ncAlias": "bookingWidget",
      "ncTabAlias": "Content",
      "nameTemplate": "Booking Widget"
    },
    {
      "ncAlias": "breadcrumb",
      "ncTabAlias": "Content",
      "nameTemplate": "Breadcrumb"
    },
    {
      "ncAlias": "calendarEventsHighlights",
      "ncTabAlias": "Content",
      "nameTemplate": "Calendar Events Highlights"
    },
    {
      "ncAlias": "contentEditor",
      "ncTabAlias": "Content",
      "nameTemplate": "Content Editor"
    },
    {
      "ncAlias": "destinationInfoSection",
      "ncTabAlias": "Content",
      "nameTemplate": "Destination Info"
    },
    {
      "ncAlias": "destinationLocation",
      "ncTabAlias": "Content",
      "nameTemplate": "Destination Location"
    },
    {
      "ncAlias": "destinationUsefulInformation",
      "ncTabAlias": "Content",
      "nameTemplate": "Destination Useful Information"
    },
    {
      "ncAlias": "gridPanel",
      "ncTabAlias": "Content",
      "nameTemplate": "Grid Panel"
    },
    {
      "ncAlias": "gridWithFilter",
      "ncTabAlias": "Content",
      "nameTemplate": "Grid With Filter"
    },
    {
      "ncAlias": "introWithCTA",
      "ncTabAlias": "Content",
      "nameTemplate": "Intro With CTA"
    },
    {
      "ncAlias": "embedForm",
      "ncTabAlias": "Content",
      "nameTemplate": "Embed Form"
    },
    {
      "ncAlias": "experienceCelebrations",
      "ncTabAlias": "Content",
      "nameTemplate": "Experience Celebrations"
    },
    {
      "ncAlias": "experienceHighlights",
      "ncTabAlias": "Content",
      "nameTemplate": "Experience Highlight"
    },
    {
      "ncAlias": "experienceInquire",
      "ncTabAlias": "Content",
      "nameTemplate": "Experience Inquire"
    },
    {
      "ncAlias": "experiencePackages",
      "ncTabAlias": "Content",
      "nameTemplate": "Experience Packages"
    },
    {
      "ncAlias": "experiencesSpotlight",
      "ncTabAlias": "Content",
      "nameTemplate": "Experiences Spotlight"
    },
    {
      "ncAlias": "experienceInfo",
      "ncTabAlias": "Content",
      "nameTemplate": "Experience Info"
    },
    {
      "ncAlias": "foodiesBlock",
      "ncTabAlias": "Content",
      "nameTemplate": "Foodies Block"
    },
    {
      "ncAlias": "highlightsInfo",
      "ncTabAlias": "Content",
      "nameTemplate": "Highlights Info"
    },
    {
      "ncAlias": "hubItems",
      "ncTabAlias": "Content",
      "nameTemplate": "Hub Items"
    },
    {
      "ncAlias": "imageCarousel",
      "ncTabAlias": "Content",
      "nameTemplate": "Image Carousel"
    },
    {
      "ncAlias": "informationPanel",
      "ncTabAlias": "Content",
      "nameTemplate": "Information Panel"
    },
    {
      "ncAlias": "infoSectionWithImageSlider",
      "ncTabAlias": "Content",
      "nameTemplate": "Info Section With Image Slider"
    },
    {
      "ncAlias": "map",
      "ncTabAlias": "Content",
      "nameTemplate": "Map"
    },
    {
      "ncAlias": "offersHighlights",
      "ncTabAlias": "Content",
      "nameTemplate": "Offers Highlights"
    },
    {
      "ncAlias": "offerSlider",
      "ncTabAlias": "Content",
      "nameTemplate": "Offer Slider"
    },
    {
      "ncAlias": "relatedItems",
      "ncTabAlias": "Content",
      "nameTemplate": "Related Items"
    },
    {
      "ncAlias": "resortExperiences",
      "ncTabAlias": "Content",
      "nameTemplate": "Resort Experiences"
    },
    {
      "ncAlias": "resortHighlight",
      "ncTabAlias": "Content",
      "nameTemplate": "Resort Highlight"
    },
    {
      "ncAlias": "rewards",
      "ncTabAlias": "Content",
      "nameTemplate": "Rewarded Section"
    },
    {
      "ncAlias": "sectionIntro",
      "ncTabAlias": "Content",
      "nameTemplate": "Section Intro"
    },
    {
      "ncAlias": "sliderFullHeight",
      "ncTabAlias": "Content",
      "nameTemplate": "Slider Full Height"
    },
    {
      "ncAlias": "sliderWithFilter",
      "ncTabAlias": "Content",
      "nameTemplate": "Slider With Filter"
    },
    {
      "ncAlias": "socialWall",
      "ncTabAlias": "Content",
      "nameTemplate": "Social Wall"
    },
    {
      "ncAlias": "spaWellnessBlock",
      "ncTabAlias": "Content",
      "nameTemplate": "Spa & Wellness"
    },
    {
      "ncAlias": "video",
      "ncTabAlias": "Content",
      "nameTemplate": "Video"
    },
    {
      "ncAlias": "weddingOptions",
      "ncTabAlias": "Content",
      "nameTemplate": "Wedding Options"
    },
    {
      "ncAlias": "weddingPackagesSection",
      "ncTabAlias": "Content",
      "nameTemplate": "Wedding Packages"
    },
    {
      "ncAlias": "wellnessBlock",
      "ncTabAlias": "Content",
      "nameTemplate": "Wellness Block"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": true
}]]></Config>
</DataType>