<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0cec3d21-3a1d-463f-a1bb-8b9438d7f25d" Alias="Button Group" Level="2">
  <Info>
    <Name>Button Group</Name>
    <EditorAlias>Umbraco.NestedContentElements</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Elements</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "buttonItem",
      "ncTabAlias": "Content",
      "nameTemplate": "{{buttonLabel}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>