<?xml version="1.0" encoding="utf-8"?>
<DataType Key="945a62c0-0aa9-422c-803e-8f3b994bd323" Alias="Calendar Events With Filter - Event Limit - Numeric" Level="1">
  <Info>
    <Name>Calendar Events With Filter - Event Limit - Numeric</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "min": 3,
  "step": 1
}]]></Config>
</DataType>