<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9f5fc43f-a181-4b28-86bd-ce0b59a71268" Alias="CheckboxList - Robots Options" Level="2">
  <Info>
    <Name>CheckboxList - Robots Options</Name>
    <EditorAlias>Umbraco.CheckBoxList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>SEO</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "noindex"
    },
    {
      "id": 2,
      "value": "nofollow"
    }
  ]
}]]></Config>
</DataType>