<?xml version="1.0" encoding="utf-8"?>
<DataType Key="81d6d662-d97a-472d-aa74-aef228ed417b" Alias="Conditional Displayer - Slider" Level="2">
  <Info>
    <Name>Conditional Displayer - Slider</Name>
    <EditorAlias>Our.Umbraco.CdCheckbox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Elements</Folder>
  </Info>
  <Config><![CDATA[{
  "default": "0",
  "showIfChecked": "video",
  "showIfUnchecked": "slides"
}]]></Config>
</DataType>