<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cbcf95f5-0abf-4497-9f27-1137016f2c34" Alias="Conditional Displayer - Video" Level="2">
  <Info>
    <Name>Conditional Displayer - Video</Name>
    <EditorAlias>Our.Umbraco.CdCheckbox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Elements</Folder>
  </Info>
  <Config><![CDATA[{
  "default": "0",
  "showIfChecked": "video",
  "showIfUnchecked": "image"
}]]></Config>
</DataType>