<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c0bdecda-f48d-4f62-a53d-c79fa3cb23a4" Alias="Destionation Info" Level="2">
  <Info>
    <Name>Destionation Info</Name>
    <EditorAlias>Umbraco.NestedContentElements</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Elements</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "destinationInfoItem",
      "ncTabAlias": "Content",
      "nameTemplate": "{{heading}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>