<?xml version="1.0" encoding="utf-8"?>
<DataType Key="110d8391-dec8-4a8b-b0c3-b6945d0efcf3" Alias="Display Date Type" Level="3">
  <Info>
    <Name>Display Date Type</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Elements/Select+Box</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Full Month"
    },
    {
      "id": 2,
      "value": "Custom Date"
    }
  ]
}]]></Config>
</DataType>