<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c445766e-5db5-44a3-94ad-39a4f834dda2" Alias="Dropdown - Email  From" Level="2">
  <Info>
    <Name>Dropdown - Email  From</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Website+Settings</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "noreply@sunsiyam.com"
    }
  ]
}]]></Config>
</DataType>