<?xml version="1.0" encoding="utf-8"?>
<DataType Key="15b341ac-301a-4b1a-8c50-f2e1543289e7" Alias="Dropdown - HTTP Status Code" Level="2">
  <Info>
    <Name>Dropdown - HTTP Status Code</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Error+Page</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "404"
    },
    {
      "id": 2,
      "value": "500"
    }
  ]
}]]></Config>
</DataType>