<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1281bff3-eadd-4cca-a3ea-da97f78b0212" Alias="Editor Notes - SEO" Level="2">
  <Info>
    <Name>Editor Notes - SEO</Name>
    <EditorAlias>tooorangey.EditorNotes.v8</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>SEO</Folder>
  </Info>
  <Config><![CDATA[{
  "editorNotes": "<p>The information on the SEO tab helps search engines understand what the page is about and index your web pages accordingly for relevant keywords or keyword phrases.</p>",
  "hideLabel": "1",
  "noteRenderMode": "Html"
}]]></Config>
</DataType>