<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b39e97de-2b54-451e-abde-f884e04cc09f" Alias="Editor Notes - Footer Social Links" Level="2">
  <Info>
    <Name>Editor Notes - Footer Social Links</Name>
    <EditorAlias>tooorangey.EditorNotes.v8</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Elements</Folder>
  </Info>
  <Config><![CDATA[{
  "editorNotes": "<p>The social links are fetched from the the Social tab.</p>",
  "hideLabel": "1",
  "noteRenderMode": "Html"
}]]></Config>
</DataType>