<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f83d3341-99e4-4ece-b76d-25bfba52fc82" Alias="Experience Highlight Information Items" Level="2">
  <Info>
    <Name>Experience Highlight Information Items</Name>
    <EditorAlias>Umbraco.NestedContentElements</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Elements</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "experienceHighlightsInformationItem",
      "ncTabAlias": "Content",
      "nameTemplate": "{{title}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>