<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6851f572-e8b9-491a-9453-aab559802d7a" Alias="Faq Items" Level="2">
  <Info>
    <Name>Faq Items</Name>
    <EditorAlias>Umbraco.NestedContentElements</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Elements</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "faqItem",
      "ncTabAlias": "Content",
      "nameTemplate": "{{question}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>