<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ced54ac8-369a-4832-8cfa-47656f38111b" Alias="Filters Items For Slider" Level="2">
  <Info>
    <Name>Filters Items For Slider</Name>
    <EditorAlias>Our.Umbraco.CdDropdownFlexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Elements</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "Resorts",
      "show": "resorts",
      "hide": "accomodations,offers,experiences"
    },
    {
      "value": "Accomodations",
      "show": "accomodations",
      "hide": "resorts,offers,experiences"
    },
    {
      "value": "Offers",
      "show": "offers",
      "hide": "resorts,accomodations,experiences"
    },
    {
      "value": "Experiences",
      "show": "experiences",
      "hide": "resorts,accomodations,offers"
    }
  ]
}]]></Config>
</DataType>