<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a226f27a-8e8f-4a2e-91b4-cf1255a28321" Alias="Filter Type - Dropdown" Level="3">
  <Info>
    <Name>Filter Type - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Elements/Select+Box</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Classic"
    },
    {
      "id": 2,
      "value": "Regular"
    }
  ]
}]]></Config>
</DataType>