<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2fb0df72-34dc-43af-9a33-6c26a51ed065" Alias="Footer Navigation" Level="2">
  <Info>
    <Name>Footer Navigation</Name>
    <EditorAlias>Umbraco.NestedContentElements</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Elements</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "footerNavigationItem",
      "ncTabAlias": "Content",
      "nameTemplate": "{{title}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>