<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6d9539c6-0fca-4bbb-80e2-5098d16e54c4" Alias="Form Picker" Level="1">
  <Info>
    <Name>Form Picker</Name>
    <EditorAlias>UmbracoForms.FormPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "allowedForms": []
}]]></Config>
</DataType>