<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d4b8d922-b746-4131-b9be-311af4bb9fae" Alias="Grid Content - Dropdown" Level="3">
  <Info>
    <Name>Grid Content - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Elements/Select+Box</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Accommodations"
    },
    {
      "id": 2,
      "value": "Experiences"
    },
    {
      "id": 3,
      "value": "Offers"
    }
  ]
}]]></Config>
</DataType>