<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c92a480f-a3eb-4bb3-a0d0-9b2d9bdc593b" Alias="Heading With Link" Level="2">
  <Info>
    <Name>Heading With Link</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Elements</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "headingWithLinkItem",
      "ncTabAlias": "Content",
      "nameTemplate": "{{heading}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>