<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8f3ce1ac-b8a0-4943-a263-ff054f18215a" Alias="Hub Items" Level="2">
  <Info>
    <Name>Hub Items</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Elements</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "hubItem",
      "ncTabAlias": "Content",
      "nameTemplate": "{{heading}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>