<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1a0dd6dc-a650-4e93-a477-24728b05022a" Alias="Images With Subtitle" Level="2">
  <Info>
    <Name>Images With Subtitle</Name>
    <EditorAlias>Umbraco.NestedContentElements</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Elements</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "imagesWithSubtitle",
      "ncTabAlias": "Content",
      "nameTemplate": "{{imageSubtitle}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>