<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1df9f033-e6d4-451f-b8d2-e0cbc50a836f" Alias="Image Cropper" Level="1">
  <Info>
    <Name>Image Cropper</Name>
    <EditorAlias>Umbraco.ImageCropper</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [
    {
      "alias": "1640x922",
      "width": 1640,
      "height": 922
    },
    {
      "alias": "1640x820",
      "width": 1640,
      "height": 820
    },
    {
      "alias": "1640x705",
      "width": 1640,
      "height": 705
    },
    {
      "alias": "1033x1234",
      "width": 1033,
      "height": 1234
    },
    {
      "alias": "957x637",
      "width": 957,
      "height": 637
    },
    {
      "alias": "947x761",
      "width": 947,
      "height": 761
    },
    {
      "alias": "947x1120",
      "width": 947,
      "height": 1120
    },
    {
      "alias": "864x827",
      "width": 864,
      "height": 827
    },
    {
      "alias": "820x1046",
      "width": 820,
      "height": 1046
    },
    {
      "alias": "820x995",
      "width": 820,
      "height": 995
    },
    {
      "alias": "820x547",
      "width": 820,
      "height": 547
    },
    {
      "alias": "812x487",
      "width": 812,
      "height": 487
    },
    {
      "alias": "808x988",
      "width": 808,
      "height": 988
    },
    {
      "alias": "808x730",
      "width": 808,
      "height": 730
    },
    {
      "alias": "670x1005",
      "width": 670,
      "height": 1005
    },
    {
      "alias": "674x993",
      "width": 674,
      "height": 993
    },
    {
      "alias": "536x892",
      "width": 536,
      "height": 892
    },
    {
      "alias": "536x690",
      "width": 536,
      "height": 690
    },
    {
      "alias": "536x657",
      "width": 536,
      "height": 657
    },
    {
      "alias": "536x613",
      "width": 536,
      "height": 613
    },
    {
      "alias": "536x536",
      "width": 536,
      "height": 536
    },
    {
      "alias": "536x450",
      "width": 536,
      "height": 450
    },
    {
      "alias": "536x348",
      "width": 536,
      "height": 348
    },
    {
      "alias": "516x301",
      "width": 516,
      "height": 301
    },
    {
      "alias": "468x630",
      "width": 468,
      "height": 630
    },
    {
      "alias": "467x534",
      "width": 467,
      "height": 534
    },
    {
      "alias": "414x593",
      "width": 414,
      "height": 593
    },
    {
      "alias": "390x288",
      "width": 390,
      "height": 288
    },
    {
      "alias": "383x542",
      "width": 383,
      "height": 542
    },
    {
      "alias": "319x396",
      "width": 319,
      "height": 396
    },
    {
      "alias": "206x212",
      "width": 206,
      "height": 212
    },
    {
      "alias": "176x176",
      "width": 176,
      "height": 176
    },
    {
      "alias": "812x993",
      "width": 812,
      "height": 993
    },
    {
      "alias": "468x468",
      "width": 468,
      "height": 468
    },
    {
      "alias": "686x857",
      "width": 686,
      "height": 857
    }
  ]
}]]></Config>
</DataType>