<?xml version="1.0" encoding="utf-8"?>
<DataType Key="744bed8e-d96f-4190-a2be-ccee0934acc8" Alias="Integer - Google Maps Zoom Level" Level="2">
  <Info>
    <Name>Integer - Google Maps Zoom Level</Name>
    <EditorAlias>Umbraco.Integer</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
    <Folder>Website+Settings</Folder>
  </Info>
  <Config><![CDATA[{
  "min": 0,
  "step": 1,
  "max": 18
}]]></Config>
</DataType>