<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6d63bed7-6e97-4dd9-a606-832b2dc71ae9" Alias="Intro More Details Items" Level="2">
  <Info>
    <Name>Intro More Details Items</Name>
    <EditorAlias>Umbraco.NestedContentElements</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Elements</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "introMoreDetailsItem",
      "ncTabAlias": "Content",
      "nameTemplate": "{{title}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>