<?xml version="1.0" encoding="utf-8"?>
<DataType Key="88cfaa0a-f4d5-4363-8c33-86cb8689e184" Alias="Landing Page" Level="1">
  <Info>
    <Name>Landing Page</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "accordionWithImage",
      "ncTabAlias": "Content",
      "nameTemplate": "Accordion"
    },
    {
      "ncAlias": "breadcrumb",
      "ncTabAlias": "Content",
      "nameTemplate": "Breadcrumb"
    },
    {
      "ncAlias": "featuredCarousel",
      "ncTabAlias": "Content",
      "nameTemplate": "Carousel"
    },
    {
      "ncAlias": "introWithButtons",
      "ncTabAlias": "Content",
      "nameTemplate": "Intro"
    },
    {
      "ncAlias": "directionsMap",
      "ncTabAlias": "Content",
      "nameTemplate": "Directions Map"
    },
    {
      "ncAlias": "sliderFullHeight",
      "ncTabAlias": "Content",
      "nameTemplate": "Slider"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>