<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e37bbce2-0e4e-459e-a463-a6e61237297a" Alias="MNTP - Pop Up" Level="3">
  <Info>
    <Name>MNTP - Pop Up</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Elements/MNTP</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": "$site/websiteComponents/popUpFolder",
    "id": null
  },
  "Filter": null,
  "MinNumber": 0,
  "MaxNumber": 1,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>