<?xml version="1.0" encoding="utf-8"?>
<DataType Key="54033c38-f1e5-4f63-8c87-e6012b7f8aba" Alias="MNTP - Website Components" Level="2">
  <Info>
    <Name>MNTP - Website Components</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Auxiliary+Folders</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": "$site",
    "id": null
  },
  "Filter": "websiteComponents",
  "MinNumber": 0,
  "MaxNumber": 1,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>