<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b411327b-cd9b-4eb7-90da-66c4d1dc9e3f" Alias="MNTP - Gallery" Level="3">
  <Info>
    <Name>MNTP - Gallery</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Elements/MNTP</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": "$site/websiteComponents/gallery",
    "id": null
  },
  "Filter": null,
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>