<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4a06a39b-65ea-4132-b667-525fcf388231" Alias="MNTP - Grid Content" Level="3">
  <Info>
    <Name>MNTP - Grid Content</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Elements/MNTP</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": "offersPage,accommodationsPage,experiencesPage,calendarPage,destinationPage,blogPage,restaurantsBars,facilities",
  "MinNumber": 1,
  "MaxNumber": 1,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>