<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8dac4eaa-2f37-4d84-8ff4-b2747230c5c8" Alias="MNTP - Experience" Level="3">
  <Info>
    <Name>MNTP - Experience</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Elements/MNTP</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": "experienceDetailsPage",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>