<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9be97d6f-62da-46cc-87fb-c8a22ce4e206" Alias="MNTP - Accommodation Details" Level="3">
  <Info>
    <Name>MNTP - Accommodation Details</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Elements/MNTP</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": "accommodationsDetailsPage",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>