<?xml version="1.0" encoding="utf-8"?>
<DataType Key="34e187ac-aeb8-4a99-b40c-13421b600b85" Alias="MNTP - Calendar Events" Level="3">
  <Info>
    <Name>MNTP - Calendar Events</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Elements/MNTP</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": "calendarEventPage",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>