<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5fc44c5e-48e9-4065-a57c-494101d8f54f" Alias="MNTP - Website Settings" Level="2">
  <Info>
    <Name>MNTP - Website Settings</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Auxiliary+Folders</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": "$site",
    "id": null
  },
  "Filter": "websiteSettings",
  "MinNumber": 0,
  "MaxNumber": 1,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>