<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d93e9099-880c-493c-b619-ac9b80929a59" Alias="MNTP - Resorts Sub Page" Level="3">
  <Info>
    <Name>MNTP - Resorts Sub Page</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Elements/MNTP</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": "offersPage,accommodationsPage,experiencesPage,calendarPage,contentPage,blogPage,restaurantsBars,facilities,destinationPage",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>