<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ce9319fa-617b-43b7-95f4-d47211903a47" Alias="MNTP - Resorts" Level="3">
  <Info>
    <Name>MNTP - Resorts</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Elements/MNTP</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": "resortsHomePage",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>