<?xml version="1.0" encoding="utf-8"?>
<DataType Key="11c86efe-4c7c-4a31-98ea-a5ab6da81c35" Alias="MNTP - Offers Details" Level="3">
  <Info>
    <Name>MNTP - Offers Details</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Elements/MNTP</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": "offerDetailsPage",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>