<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6fe382f9-c870-40b4-9d0d-eaf0717a8077" Alias="MNTP - Hub Items" Level="3">
  <Info>
    <Name>MNTP - Hub Items</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Elements/MNTP</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": "experienceDetailsPage,accommodationsDetailsPage",
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>