<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4c083fdf-2402-43be-891f-644a8c25d7c8" Alias="Multinode Treepicker" Level="1">
  <Info>
    <Name>Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": null,
    "id": null
  },
  "Filter": null,
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>