<?xml version="1.0" encoding="utf-8"?>
<DataType Key="330bce71-0843-4739-92b0-d90462ba5561" Alias="Overlay Image Position" Level="3">
  <Info>
    <Name>Overlay Image Position</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Elements/Select+Box</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Top Left"
    },
    {
      "id": 2,
      "value": "Top Center"
    },
    {
      "id": 3,
      "value": "Top Right"
    },
    {
      "id": 4,
      "value": "Center Left"
    },
    {
      "id": 5,
      "value": "Center Center"
    },
    {
      "id": 6,
      "value": "Center Right"
    },
    {
      "id": 7,
      "value": "Bottom Left"
    },
    {
      "id": 8,
      "value": "Bottom Center"
    },
    {
      "id": 9,
      "value": "Bottom Right"
    }
  ]
}]]></Config>
</DataType>