<?xml version="1.0" encoding="utf-8"?>
<DataType Key="acc36d2f-21f4-4989-bbb1-9e767855397d" Alias="Priority Number" Level="3">
  <Info>
    <Name>Priority Number</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Elements/Select+Box</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "5"
    },
    {
      "id": 2,
      "value": "4"
    },
    {
      "id": 3,
      "value": "3"
    },
    {
      "id": 4,
      "value": "2"
    },
    {
      "id": 5,
      "value": "1"
    }
  ]
}]]></Config>
</DataType>