<?xml version="1.0" encoding="utf-8"?>
<DataType Key="310d919e-054c-4650-9d11-cbc70b66faf9" Alias="Resorts Types" Level="3">
  <Info>
    <Name>Resorts Types</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Elements/Select+Box</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Luxury"
    },
    {
      "id": 2,
      "value": "Prive"
    },
    {
      "id": 3,
      "value": "Lifestyle"
    }
  ]
}]]></Config>
</DataType>