<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a854d410-04a8-4244-aa37-8bb3be348e74" Alias="Resort Highlight" Level="2">
  <Info>
    <Name>Resort Highlight</Name>
    <EditorAlias>Umbraco.NestedContentElements</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Elements</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "resortHighlightItem",
      "ncTabAlias": "Content",
      "nameTemplate": "{{highlightText}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>