<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a6d616fc-d6fe-4a1e-a6c6-0b4b1fa012f1" Alias="Resort Experiences" Level="2">
  <Info>
    <Name>Resort Experiences</Name>
    <EditorAlias>Umbraco.NestedContentElements</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Elements</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "experienceSingleItem",
      "ncTabAlias": "Content",
      "nameTemplate": "{{heading}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>