<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8487ba4c-dc44-41da-a707-4f87b16d1814" Alias="Restaurants  Bars Category - Dropdown" Level="3">
  <Info>
    <Name>Restaurants  Bars Category - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Elements/Select+Box</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Bars"
    },
    {
      "id": 2,
      "value": "Restaurants"
    }
  ]
}]]></Config>
</DataType>