<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f2d97d2c-c21a-4f07-be98-7afca95fb4ab" Alias="Select Resort" Level="2">
  <Info>
    <Name>Select Resort</Name>
    <EditorAlias>Umbraco.NestedContentElements</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Elements</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "singleSelectResortItem",
      "ncTabAlias": "Content",
      "nameTemplate": "{{resortTitle}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>