<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bf84a978-8428-4945-86db-fd71e7dd1fa1" Alias="Single Url Picker" Level="1">
  <Info>
    <Name>Single Url Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 1,
  "OverlaySize": null,
  "IgnoreUserStartNodes": false,
  "HideAnchor": false
}]]></Config>
</DataType>