<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bb24a6c0-3b6f-4f71-a2fe-9e6fdae4309e" Alias="Slider Full Height" Level="2">
  <Info>
    <Name>Slider Full Height</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Elements</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "sliderFullHeightSlideItem",
      "ncTabAlias": "Content",
      "nameTemplate": "{{image | ncNodeName}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>