<?xml version="1.0" encoding="utf-8"?>
<DataType Key="04d87fd2-00f0-4b73-b4b5-75a88eeac648" Alias="Slider Type" Level="3">
  <Info>
    <Name>Slider Type</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Elements/Select+Box</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Accomodations"
    },
    {
      "id": 3,
      "value": "Resorts"
    }
  ]
}]]></Config>
</DataType>