<?xml version="1.0" encoding="utf-8"?>
<DataType Key="79a26141-3a7d-4d9e-a49f-a4128942ba00" Alias="Slider Info Position" Level="3">
  <Info>
    <Name>Slider Info Position</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Elements/Select+Box</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Top Align"
    },
    {
      "id": 2,
      "value": "Center Align"
    },
    {
      "id": 3,
      "value": "Bottom Align"
    }
  ]
}]]></Config>
</DataType>