<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5e724883-c3c6-4bb3-8fca-31b21a9cbda2" Alias="Slider Image Positioning" Level="3">
  <Info>
    <Name>Slider Image Positioning</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Elements/Select+Box</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "center top"
    },
    {
      "id": 3,
      "value": "center bottom"
    },
    {
      "id": 5,
      "value": "center"
    },
    {
      "id": 4,
      "value": "left center"
    },
    {
      "id": 2,
      "value": "right center"
    }
  ]
}]]></Config>
</DataType>