<?xml version="1.0" encoding="utf-8"?>
<DataType Key="031d9526-0108-4e1a-bcf3-847b319cde57" Alias="Social Media Embed Post - Direction - Dropdown" Level="3">
  <Info>
    <Name>Social Media Embed Post - Direction - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Elements/Select+Box</Folder>
  </Info>
  <Config><![CDATA[{
  "Multiple": false,
  "Items": [
    {
      "id": 1,
      "value": "Left to right"
    },
    {
      "id": 2,
      "value": "Centre"
    },
    {
      "id": 3,
      "value": "Right to left"
    }
  ]
}]]></Config>
</DataType>