<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2150028a-ed12-4cfe-9035-afc5889db6d8" Alias="Social Wall" Level="2">
  <Info>
    <Name>Social Wall</Name>
    <EditorAlias>Umbraco.NestedContentElements</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Elements</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "socialWallItem",
      "ncTabAlias": "Content",
      "nameTemplate": "Social Wall Item"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>