<?xml version="1.0" encoding="utf-8"?>
<DataType Key="b5ad7646-a3c3-4a23-8dc9-1d66c5315529" Alias="Socials" Level="2">
  <Info>
    <Name>Socials</Name>
    <EditorAlias>Umbraco.NestedContentElements</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Elements</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "socialItem",
      "ncTabAlias": "Content",
      "nameTemplate": "Social Item"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>