<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cdb57443-c8e6-49d2-b1ad-28d85d0b084b" Alias="Spa  Wellness Blocks" Level="1">
  <Info>
    <Name>Spa  Wellness Blocks</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "spaBlockItem",
      "ncTabAlias": "Content",
      "nameTemplate": ""
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>