<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c0748850-7795-4f33-9c78-1e7420393720" Alias="Textbox" Level="1">
  <Info>
    <Name>Textbox</Name>
    <EditorAlias>Umbraco.TextBox</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "MaxChars": null
}]]></Config>
</DataType>