<?xml version="1.0" encoding="utf-8"?>
<DataType Key="16989a27-2393-48e3-a6cd-5fb9081f680c" Alias="Wedding Modules" Level="1">
  <Info>
    <Name>Wedding Modules</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "6b980125-ae92-42c9-8f0e-f6d55710b7c3",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "Wedding Packages Section",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "1c38f186-1892-4450-a4a0-f11a8066f908",
      "settingsElementTypeKey": null,
      "view": null,
      "stylesheet": null,
      "label": "Wedding Packages Section",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": false,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>